name: CI/CD For test and deploy our application

on:
    push:
        branches:
            - "**"

jobs:
    test:
        name: Test Machine
        runs-on: ubuntu-latest

        steps:
            - name: Code checkout on test machine
              uses: actions/checkout@v3

            - name: Setup nodejs
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm install --force

            - name: Run tests
              run: npm run ci:fix

            - name: Build application
              run: npm run build
