name: CI/CD For test and deploy our application

on:
    push:
        branches:
            - "**"

jobs:
    test:
        name: Test Machine
        runs-on: ubuntu-latest
        if: github.ref != "refs/heads/main" && github.ref != "refs/heads/dev"

        steps:
            - name: Code checkout on test machine
              uses: actions/checkout@v3

            - name: Setup nodejs
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm install --force

            - name: Run tests
              run: npm run ci:fix

            - name: Build application
              run: npm run build

    build-push:
        name: Build and push image
        runs-on: ubuntu-latest
        if: github.ref == "refs/heads/dev"

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: login to docker hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Setup docker
              uses: docker/setup-docker-action@v4

            - name: build image
              run: |
                  docker build --no-cache -t ${ DOCKER_USERNAME }/${{ secrets.PACKAGE }}:latest .
            - name: push image
              run: |
                  docker push ${ DOCKER_USERNAME }/${{ secrets.PACKAGE }}:latest
